#navbar{
background-color: #19334d;
min-height:100vh;
}

#chatroom{
  background-color: #254d74;

}

#channels{
  color: white;
}

#username{
  color:white;
}

#inputBox{
  position: absolute;
  bottom: 50px;
  width: 90%;
}
