#navbar{
background-color: #19334d;
min-height:100vh;
}

#chatroom{
  background-color: #254d74;
}

.textColor{
  color: white;
}

#activeChannel{
  color: #23903c;
  border: 3px solid #23903c;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#channels{
  color: white;
  list-style-type: none;
}

.channel:hover{
  color:  #23903c;
  cursor: pointer;
}

#username{
  color:white;
}

#chat{
  color: white;
  list-style-type: none;
  position: absolute;
  bottom: 75px;
  width: 90%;  
}

#inputBox{
  position: absolute;
  bottom: 15px;
  width: 90%;
}
