{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body1 %}
</br>
<h4 id="username">Login to start chatting</h4>
<button id="login" name="action" value="login" class="btn btn-success">Login</button>
</br>
</br>
<h3 id="activeChannel"></h3>
</br>
<h4 id ="channelLabel" class="textColor">Channels:</h4>

<ul id="channels">
    <li class="channel">General</li>
    {% for channel in channels %}
    <li class="channel">{{channel}}</li>
    {% endfor %}
</ul>

<button id="addChannel" class="btn btn-success">Add channel</button>
{% endblock %}


{% block body2 %}

<ul id="chat">
</ul>

<div class="input-group mb-3" id="inputBox">
        <input id="newMessage" type="text"  class="form-control" placeholder="Type here" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="sendMessage">Send</button>
        </div>
      </div>
{% endblock %}
